
.left-container {
    display: inline-block;
    float: left;
    width: 24%;
    margin-top: 3.23em;
}

.right-container {
    display: inline-block;
    width: 50%;
}

.left-container > div:not(:last-child) h4, p {
    display: inline-block;
    margin-right: 10px;
}

.right-container > div:not(:last-child) h4, p {
    display: inline-block;
    margin-right: 10px;
}
.left-container div, .right-container div {
    height: 2em;
}

.footer {
    border-top: solid 2px grey;
    margin-top: 1em;
    width: 74%;
    padding-top: 1em;
}
.main-container {
    padding: 1em;
}